.duo-img-card-container {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    vertical-align: top;

    img.img-card-1 {
        display: inline-block;
        height: 320px;
        margin-bottom: 8px;
        text-align: center;
        vertical-align: top;
        max-width: 450px;
        margin-right: 8px;
    }
    img.img-card-2 {
        display: inline-block;
        height: 320px;
        margin-bottom: 8px;
        text-align: center;
        vertical-align: top;
        max-width: 450px;
        margin-left: 8px;
    }
    .img-container {
        text-align: center;
    }
    .img-label h2 {
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width: 950px) {
  .duo-img-card-container {
    img.img-card-1 {
        margin: 0 0 16px 0;
    }
    img.img-card-2 {
        margin: 0;
    }
  }
}
