.projectSmallCardsContainer {
  width: 80%;
  text-align: center;
  margin: 0 auto 32px auto;
}
.smallProject {
  padding: 0 16px;
}

@media screen and (max-width: 768px) {
  .smallProject {
    padding: 0;
    h1 {
        text-align:center;
    }
  }
}
