@import "../../../../css/sassColors.scss";

.circle-header-container {
    width: 100%;
    padding: 16px;
    vertical-align: top;
}
.circle-skills-container {
    text-align: center;
}

.circle-header-container .circle-skills-container ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}
.circle-header-container ul li {
    display: block;
    margin: 8px 0;
}

.circle-title {
    padding: 0 16px;
}
.circle-title h1 {
    text-align: center;
    font-size: 26px;
}
.circle-title .divider {
    width: 80%;
    height: 2px;
    background-color: red;
    padding: 0 16px;
    margin: 8px auto;
}

.circle-header {
    border-radius: 100%;
    position: relative;
    width: 100%;
    max-width: 128px;
    margin: 0 auto;
    background-color: red;
    margin-bottom: 16px;
}

.circle-header i {
    color: white;
    font-size: 48px;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
}

.circle-header:before{
    content: "";
    display: block;
    padding-top: 100%;
}
