@import "../../../css/sassColors.scss";

.center-list-container {
    text-align: center;
    .center-list-text {
        padding: 8px 32px 0 32px;
        margin: 0 auto;
        max-width: 780px;
        display: inline-block;
        text-align: justify;
    }
    font-size: 20px;
    font-weight: 300;

}
