.large-image-container {
    padding: 8px 32px 16px 32px;
    width: 50%;
    margin: 0 auto;

    img {
        text-align: center;
        display: inline-block;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }
    h3 {
        margin: 16px 0 0 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

  .large-image-container {
      width: 100%;
    }
}
