@import "../../../../css/sassColors.scss";

.sun {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 100%;

    &.day {
        border-color: $yellow_1;
        background: linear-gradient($yellow, $yellow_1);
    }

    &.sunset {
        border-color: $orange_2;
        background: linear-gradient($orange, $orange_2);
    }

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
