@import "../../../../css/sassColors.scss";

.grass {
    display: inline-block;
    width: 45px;
    height: 55px;
    position: relative;

    .grass-blade-1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0 10px 40px 10px;
        border-color: transparent transparent $green transparent;
    }
    .grass-blade-2 {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 0;
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0 8px 30px 8px;
        border-color: transparent transparent $green_1 transparent;
    }
    .grass-blade-3 {
        position: absolute;
        top: 15px;
        left: 20px;
        right: 0;
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0 8px 25px 8px;
        border-color: transparent transparent $green_1 transparent;
    }
    .grass-blade-4 {
        position: absolute;
        top: -5px;
        left: 30px;
        right: 0;
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0 10px 45px 10px;
        border-color: transparent transparent $green_1 transparent;
    }
}
