@import "../../css/sassColors.scss";

.terminal-container {
        .divider {
          width: 80%;
          height: 2px;
          background-color: $light-grey;
          margin: 16px auto 0 auto;
        }
}
.terminal {
    border-top: 20px solid #eee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    width: 670px;
    padding: 40px;
    height: 620px;
    margin: 16px auto;
    background: #383737;
}

@media only screen and (max-width: 568px) and (min-device-width: 320px) {
    .terminal {
        width: 90%;
        height: 480px;
    }
}
