.sasuke_container {
    margin: 0 auto;

    .my_img_container {
        width: 500px;
        display: inline-block;
        position: relative;
        margin: 0 auto;
        margin-bottom: 32px;
        text-align: left;

        img {
            height: 500px;
        }
        vertical-align: top;

        .talk-bubble-container {
            position: absolute;
            left: 300px;
            top: 100px;
        }
        .talk-bubble {
            position: relative;
            border-radius: 8px;
            background-color: white;
            border-color: black;

            width: 200px;
            height: 200px;
            padding: 8px;
            z-index: 500;

            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);

            &:before {
              content:"";
              position: absolute;
              right: 100%;
              transform: translateY(-50%);
              top: 50%;;
              width: 0;
              height: 0;

              border-top: 13px solid transparent;
              border-right: 26px solid white;
              border-bottom: 13px solid rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
            }
        }
    }
}

@media only screen and (max-width: 568px) and (min-device-width: 320px) {
    .sasuke_container .my_img_container {
        width: 90%;
        overflow: hidden;

        img {
            height: 250px;
        }
        .talk-bubble-container {
            position: absolute;
            left: 140px;
            top: 36px;
        }
        .talk-bubble {
            width: 140px;
            height: 140px;
            h3 {
                font-size: 14px;
            }

            &:before {
              content:"";
              position: absolute;
              right: 100%;
              transform: translateY(-50%);
              top: 50%;;
              width: 0;
              height: 0;

              border-top: 10px solid transparent;
              border-right: 20px solid white;
              border-bottom: 10px solid rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
            }
        }
    }
}
