@import "../../../css/sassColors.scss";

.center-blog-container {
    text-align: center;
    .center-blog-text {
        padding: 8px 32px 0 32px;
        margin: 0 auto;
        max-width: 780px;
        display: inline-block;
        text-align: justify;
    }


    .divider {
      width: 80%;
      height: 2px;
      background-color: $light-grey;
      margin: 16px auto 0 auto;
    }

}
