.resume_download_ctr {
    width: 256px;
    margin: 0 auto 32px auto;
    text-align: center;
}
#resumeLink {
    width: 256px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 18px;
}

#resumeLink:hover {
    background-color: rgba(255, 255, 255, .8);
}
