.about_me_section {
    background-color: #272727;

    .header-container {
        h1 {
            font-size: 64px;
            font-weight: 200;
            color: white;
        }
    }

    .scroll_to_next_section {
        width: 256px;
        margin: 0 auto 32px auto;
        text-align: center;
        border-color: white;

        &:hover {
            background-color: rgba(255, 255, 255, .8);
        }
    }
}

@media only screen and (max-width: 568px) and (min-device-width: 320px) {
    .about_me_section {
        .header-container {
            h1 {
                font-size: 32px;
            }
        }
    }
}
