@import "../../../../css/sassColors.scss";

.water {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 95px;
    background: $material_blue_3;
    /*
    background: linear-gradient($blue, $blue_1, $blue_2);
    */
}
