.centered-blog-video {
  text-align: center;

  .react-player {
    margin: 0 auto;
    // width: 50% !important;
  }
}


@media screen and (max-width: 768px) {
  .centered-blog-video {
    .react-player {
      padding: 0 16px;
      width: 100% !important;
    }
  }

}
