.opacityOverlay {
    width: 100%;
    height: 100%;
    z-index: 9997;
    background-color: #333;
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.opaqueOverlay {
    z-index: 9998;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.project-page {
    padding-bottom: 16px;
}

button.projectButton {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
}

button.projectButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

div.projectButtonCtr {
    text-align: center;
    margin: 16px auto;
}
div.projectButtonCtr button.projectButton {
    min-width: 96px;
}
div.projectButtonCtr button.projectButton:nth-child(1) {
    margin-right: 8px;
}

div.projectButtonCtr button.projectButton:nth-child(2) {
    margin-left: 8px;
}
