@import "../../css/colors.css";

#landingPage {
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

#landingPage [class*="col-"] {
  height: 100%;
}

#landingPage button.transparentTextBtn {
  position: absolute;
  bottom: 64px;
  left: 0;
  right: 0;
  width: 128px;
}

#landingPage h1 {
  font-size: 52px !important;
  font-weight: 100;
}
#landingPage h2.myName {
  color: var(--grey) !important;
  font-size: 42px !important;
  font-weight: 100;
}

#landingPage h3.myRole,
#landingPage h3.myRole span {
  color: var(--dark-grey) !important;
  font-size: 32px !important;
  font-weight: 100;
}
