@import "../../../css/sassColors.scss";

.img-card-container {
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
}

.img-card-container .img-card-header {
  width: 100%;
  height: 160px;
  margin-bottom: 8px;
}
.img-card-container .img-card-header img {
  width: 100%;
  max-width: 300px;
  vertical-align: top;
}
.img-card-title h1{
  font-size: 26px;
  margin-bottom: 8px;
}
.img-card-label h2 {
  font-size: 22px;
}

@media only screen and (max-width: 568px) and (min-device-width: 320px) {
    .img-card-container .img-card-header img {
      width: 80%;
      max-width: 300px;
      vertical-align: top;
    }
}
