@import "../../css/sassColors.scss";

/* Nav */
.nav-container {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

nav {
  background-color: $black;
  color: white;
  width: 100%;
  height: 48px;
  z-index: 9999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

nav.fixed-nav {
  position: fixed;
  top: 0;
}

nav ul.nav-header {
  z-index: 1;
}

nav ul,
nav ul li,
nav ul.centered-nav {
  vertical-align: top;
  display: inline-block;
}

nav ul li.nav-hamburger {
  display: none;
}

nav ul li a,
nav ul li button {
  text-decoration: none;
  color: white;
  height: 48px;
  display: block;
  padding: 12px;
  background-color: $black;
  font-size: 16px;
}

nav ul li a:hover, nav ul li button:hover {
  cursor: pointer;
  color: $grey;
}

nav ul li a:visited {
  color: white;
}

nav ul.centered-nav {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: calc(96px * 3);
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

nav ul.centered-nav ul {
  display: inline-block;
}

nav ul li {
  min-width: 96px;
  font-size: 16px;
  line-height: 16px;
  display: inline-block
}

nav ul li:hover {
  cursor: pointer;
  color: $grey;
}

@media screen and (max-width: 768px) {
  nav ul.centered-nav {
		display: none;
    position: relative;
    width: 100%;
  }
  .nav-container.isExpanded {
    display: block;
  }
  nav ul.centered-nav.isExpanded {
		display: block;

    li, li button{
      display: block;
      width: 100%;
    }
  }
  nav ul li.nav-hamburger {
		display: block;
  }
  nav ul li.me-header {
    display: none;
  }
}
