@import "../../../../css/sassColors.scss";

.mountain {
    .summit {
        position: absolute;
        top: 0;
        left: -115px;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 115px 150px 115px;
        border-color: transparent transparent $white_2 transparent;

        &:after {
            content: "";
            position: absolute;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 150px 0 0 115px;
            border-color: transparent transparent transparent $white;
        }
    }

    position: absolute;
    margin: 0 auto;
    bottom: 100px;
    left:0;
    right:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 300px 400px 300px;
    border-color: transparent transparent #103a48 transparent;
    z-index: 10;

    &:before {
        content: "";
        position: absolute;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 400px 0 0 300px;
        border-color: transparent transparent transparent #134351;
    }
}
