/* Columns */
[class*="col-"] {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

[class*="col-"].centeredCol {
  margin: 0 auto;
  text-align: left;
}
.col-100.centerContainer {
  text-align: center;
}

.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-33 {
  width: 33.33%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
.col-75 {
  width: 75%;
}
.col-80 {
  width: 80%;
}
.col-90 {
  width: 90%;
}
.col-100 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  [class*="col-"]{
    width: 100%;
  }
}
