$material_blue: #03A9F4;
$material_blue_1: #0288D1;
$material_blue_2: #B3E5FC;
$material_blue_3: #2ebcfc;

$blue: #3498db;
$blue_1: #4aa3df;
$blue_2: #5faee3;

$pink: #C2185B;
$pink_1: #E91E63;
$pink_2: #F8BBD0;
$pink_3: #f06493;

$orange: #ff1f1f;
$orange_2: #FF5252;

$white: #FFFFFF;
$white_2: #EFEFEF;

$green: #00644d;
$green_1: #004b39;

$black: #212121;

$yellow: #FFEB3B;
$yellow_1: #ffef62;

$light-grey: #f2f2f2;
$dark-grey: #9E9E9E;
$grey: #737373;

$black: #272727;
$lightBlack: #666;

$linkColour: #673AB7;
$accentColour: #2196F3;
$heading-color: #616161;

$darkBlue: #2196F3;
$purple: #9C27B0;
$teal: #009688;

$red: #f47a6f;
