@import "sassColors";
@import "box-shadow";
@import "columns";
@import "material-design-iconic-font.min";
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf")  format("truetype"),
}

html {
  box-sizing: border-box;
}

* {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	border: 0;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {
  outline:0;
}

.hide {
    position: absolute!important;
    top: -9999px!important;
    left: -9999px!important
}

a:hover {
  cursor: pointer;
}

.centered, .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered div {
  height: 64px;
  width: 100px;
  margin: auto;
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

button.transparentTextBtn {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-size: 18px;
  padding: 16px;
}

a.transparentTextBtn {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-size: 18px;
  padding: 16px;
  text-decoration: none;
}

a.transparentTextBtn.blackText {
  border: 1px solid black;
  color: black;
}

button.transparentTextBtn.centered {
  text-align: center;
  margin: 0 auto;
}

button.transparentTextBtn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: rgba(255, 255, 255, .4);
  cursor: pointer;
}
