@import "./colors.css";

#timeline {
  line-height: 1.5em;
  font-size: 14px;
  width: 100%;
  margin: 16px auto;
  padding: 0 32px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--accentColour);
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 48px;
  min-height: 128px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: var(--accentColour);
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#timeline .timeline-icon .zmdi {
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-header {
  background: var(--accentColour);
  padding: 16px;
}
#timeline .timeline-item .timeline-header h2 {
  color: #fff;
  font-weight: 400;
}


#timeline .timeline-item .timeline-info {
  padding: 16px;
}
#timeline .timeline-item .timeline-info p {
  font-size: 16px;
}

#timeline .timeline-item .timeline-actions {
  padding: 16px;
}
#timeline .timeline-item .timeline-actions a,
#timeline .timeline-item .timeline-actions button {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: black;
}
#timeline .timeline-item .timeline-actions a:hover,
#timeline .timeline-item .timeline-actions button:hover {
  color: var(--accentColour)
}

#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--accentColour);
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid var(--accentColour);
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 16px 32px;
    padding: 0;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item {
    min-height: 192px;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid var(--accentColour);
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
