@import "../../css/sassColors.scss";

footer {
    background-color: $red;
    color: white;
}

footer h1 {
    padding: 32px 0 16px 0;
    text-align: center;
}

footer div.copyright {
    background-color: $light-grey;
    width: 100%;
    padding: 16px 64px;
}

footer div.copyright span {
    color: $lightBlack !important;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    footer div.copyright  {
        padding: 16px;
    }
}

footer ul.links {
    display: block;
    text-align: center;
    padding: 0 0 32px 0;
}

footer ul li a {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    font-size: 26px;
}
footer ul.links li:hover {
    background-color: rgba(255, 255, 255, .4);
    cursor: pointer
}

footer ul li {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid white;
    width: 80px;
    height: 80px;
    margin: 0 8px;
}
