.projectCardsContainer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.projectCardsContainer .projectTags {
    text-align: left;
    padding: 0 8px;
}

.projectCardsContainer .projectTags .tag:nth-child(1) {
    margin-left: 0;
}

.projectCardsContainer .projectTags .tag {
    display: inline-block;
    text-align: left;
    padding: 8px;
    background-color: grey;
    margin: 0 4px;
    color: white;
}

.projectCard {
    width: 80%;
    display: inline-block;
    margin: 8px auto;
    text-align: left;
}

.projectCard:nth-child(1) a {
    margin-left: 0;
}
.projectCard {
  button, a {
      width: 47%;
      background-color: black;
      color: white;
      padding: 12px 8px;
      text-align: center;
      text-decoration: none;
      margin: 0 4px;
      display: inline-block;
      font-size: 16px;

      &:hover {
          background-color: rgba(0, 0, 0, 0.8);
      }
  }
}


.projectCard h1 {
    font-size: 32px!important;
    margin: 5px 0!important;
    font-weight: 100;
}
.projectCard p {
    font-size: 24px;
    line-height: 1.3542;
    font-weight: 100;
}

/* Large Project */
.projectCard.largeProject .projectRedirectContainers {
    text-align: center;
    margin-top: 32px;
    height: 48px;
}

.projectCard.largeProject {
    min-height: 372px
}
