@import "../../../../css/sassColors";

.projectContentCtr .projectTagsCtr .projectTags {
  ul {
    li.tag-link {
      color: #FFF;
      background-color: transparent;
    }
    li.tag-link:hover {
      cursor: pointer;
      background-color: $material_blue_1;
    }
    li.tag-link {
      background-color: $material_blue;
    }
  }
}
