nav ul li.nav-hamburger {
  button {
    width: 48px;
    height: 48px;
    position: relative;
    background-color: transparent;
  }

  button i {
    color: white;
    font-size: 28px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {

}
