@import "../../../css/sassColors.scss";

.image-with-description-container {
    padding: 8px 32px 16px 32px;

    .image-container {
        text-align: center;
        vertical-align: top;
        img {
            width: 100%;
            box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        }
    }

    .blog-container {
        vertical-align: top;
        padding: 0 16px;
    }

    .divider {
      width: 80%;
      height: 2px;
      background-color: $light-grey;
      margin: 16px auto 0 auto;
    }

}

@media only screen and (max-width: 568px) and (min-device-width: 320px) {

}
