@import "../../../../css/sassColors.scss";

.sakura-tree-container {
    position: relative;
    height: 120px;
    width: 120px;
    display: inline-block;
    .sakura-bush {
        background-color: $pink_3;
        border-radius: 100%;
        height: 60px;
        width: 60px;
        position: relative;
        display: inline-block;
    }
    .inner-circle {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: $pink_2;
        z-index: 12;
    }
    .bush-1 {
        top: 10px;
        right: 0;
        .inner-circle {
            position: absolute;
            top: 10px;
        }
    }
    .bush-2 {
        top: -20px;
        right: 20px;
        .inner-circle {
            position: absolute;
            top: 10px;
        }
    }
    .bush-3 {
        top: -50px;
        right: -60px;
        .inner-circle {
            position: absolute;
            top: 10px;
        }
    }
}
