.command-line {
    .rectangle-blob {
         display: inline-block;
         width: 16px;
         height: 16px;
         background-color: white;
         vertical-align: middle;
         margin-left: 8px;
    }
}
