@import "../../css/sassColors.scss";

/* Full Heigh Div */
section.content {
  height: calc(100vh - 48px);
  padding: 16px;
}

/* */
.grassContainer {
    position: absolute;
    vertical-align: top;
    text-align: center;
    bottom: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 11;
}

.sakura-tree {
    display: inline-block;
    img {
        height: 300px;
        width: 400px;
    }
    position: absolute;
    bottom: 60px;
    right: -60px;
}

/* */
#landingPage {
    position: relative;
    overflow: hidden;
    &.day {
        background: $material_blue;
    }
    &.sunset {
        background: linear-gradient($pink, $pink_1, $orange_2, $pink_2);
    }
    &.night {
        background: $black;
    }
}
