.projectContentCtr {
  padding: 16px 32px;
  position: relative;

  .projectContent {
    padding: 16px 32px;
    margin: 0 auto;

    p {
      font-size: 22px;
      font-weight: 100;
      text-align: center;
      margin-bottom: 32px;
    }

    div.projectTags {
      display: inline-block;
      margin-left: 32px;
    }

    div.projectTags:nth-child(1) {
      margin-left: 0;
    }

  }

  .projectTagsCtr {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;

    .projectTags {
      h4 {
        font-size: 18px;
        margin-bottom: 8px;
      }

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          background-color: #eee;
          color: black;
          padding: 8px;
          border-radius: 2px;
          margin-left: 4px;

          &:hover {
            background-color: #ddd;
          }
        }

        li:nth-child(1) {
          margin-left: 0;
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projectContentCtr {

    .projectContent {

      .projectTagsCtr {
        flex-direction: column;
        flex-wrap: no-wrap;
        align-items: center;

        div.projectTags {
          display: block !important;
          width: 100%;
          margin: 0;

          h4 {
            text-align: center;
          }
        }

        .projectTags ul li {
          margin: 8px 0;
          display: flex;
          flex-direction: column;
          text-align: center;
        }

      }
    }
  }
}
