.projectHeaderContainer {
  height: 300px;
}

.projectHeader {
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    transform: scale(1.2);
  }
}

.thing-enter {
  opacity: 0.20;
  transform: scale(1.8);
  transform-origin: left top;
  transition: all 2.5s linear;
}

.thing-enter.thing-enter-active {
  transform: scale(1.2);
  opacity: 1;
}

.thing-leave {
  opacity: 1;
  transition: all 2.5s linear;
}

.thing-leave.thing-leave-active {
  opacity: 0.2;
}
