@keyframes float {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 40px;
    }
    100% {
        margin-top: 0;
    }
}
@-webkit-keyframes float {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 40px;
    }
    100% {
        margin-top: 0;
    }
}

.cloud-1 {
    right: 10%;
    top: 15%;
}
.cloud-2 {
    right: 20%;
    top: 48px;
}
.cloud-3 {
    right: 15%;
    top: 20%;
}
.cloud-4 {
    left: 10%;
    top: 80px;
}

.cloud {
    -webkit-animation: float 5s infinite  normal ease-out;
        animation: float 5s infinite  normal ease-out;

    height: 72px;
    width: 106px;
    position: absolute;
    display: inline-block;
    z-index: 3;
    opacity: 0.85;

    .base {
        height: 40px;
        width: 70px;
        position: absolute;
        bottom: 0;
        left: 20px;
        background-color: white;
    }
    .bubble {
        position: absolute;
        height: 48px;
        width: 48px;
        border-radius: 55%;
        background-color: white;
        &:nth-child(1) {
            left: 0;
            bottom: 0;
        }
        &:nth-child(2) {
            left: 24px;
            top: 0px;
            width: 56px;
            height: 56px;
        }
        &:nth-child(3) {
            right: 8px;
            top: 20px;
        }
        &:nth-child(4) {
            right: 0px;
            bottom: 0px;
            height: 32px;
            width: 32px;
        }
    }
}
