.about_me_section {
  background-color: #f3f5f8;
}
.my_information {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.my_information h2 {
  font-size: 24px;
  line-height: 1.3542;
  font-weight: 100;
  text-align: center;
}
.label-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#lego {
  position: relative;
  text-align: center;
  background-color: #f3f5f8;
  margin: 32px 0;
}
#lego #legoboi{
  margin: 0 auto;
  display: block;
  height: 480px;
  width: 500px;
  z-index: 9998;
  position: absolute;
  left: 0;
  right: 0;
}


@media only screen and (max-width: 568px) and (min-device-width: 320px) {
  #lego #legoboi{
    margin: 0 auto;
    display: block;
    height: 280px;
    width: 180px;
    z-index: 9998;
    position: absolute;
    left: 0;
    right: 0;
  }
}

#lego .lego-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 1;
}


#left-skills-outer, #right-skills-outer {
  position: relative;
  width: 50%;
  display: inline-block;
  z-index: 9999;
}
#left-skills-inner, #right-skills-inner {
  position: absolute;
}
#left-skills-inner h2 {
  text-align: right;
}

#right-skills-inner h2 {
  text-align: left;
}

#lego .legoShade {
  transition: .5s ease-out;
  z-index: 1;
  position: absolute;
}

#lego .lego-container .legoShade:nth-child(1) {
}
